[Desktop Entry]
Encoding=UTF-8
Name=LiteGoldCoin
Comment=LiteGoldCoin P2P Cryptocurrency
Comment[fr]=LiteGoldCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LiteGoldCoin, eşten eşe kriptografik sanal para birimi
Exec=litegoldcoin-qt %u
Terminal=false
Type=Application
Icon=litegoldcoin128
MimeType=x-scheme-handler/litegoldcoin;
Categories=Office;Finance;
